[run]
branch = true
cover_pylib = false
omit =
    # omit anything in a .local directory anywhere
    */.local/*
    # omit everything in /usr
    /usr/*

[html]
title = Python RSS Ticker Coverage Report
directory = Coverage Report